/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
:root {

	--DarkGray-LightInput: hsl(0, 0%, 52%);
	--VeryLightGray-LightBackground: hsl(0, 0%, 98%);
	--White-DarkText-LightElements: hsl(0, 0%, 100%);
	
	--DarkBlue-DarkElements: hsl(209, 23%, 22%);
	--VeryDarkBlue-DarkBackground: hsl(207, 26%, 17%);
	--VeryDarkBlue-LightText: hsl(200, 15%, 8%);



}


body {
	font-family: 'Nunito Sans', sans-serif;

}

.app {
	font-size: 14px;
	min-height: 100vh;	
	min-width: 320px;
	max-width: 100vw;
}

.app[data-theme='dark'] {
	--backgroundColour: var(--VeryDarkBlue-DarkBackground);
	--textColour: var(--White-DarkText-LightElements);
	--highlight: var(--DarkBlue-DarkElements);
	background-color: var(--backgroundColour);
}

.app[data-theme='light'] {
	--backgroundColour: var(--VeryLightGray-LightBackground);
	--textColour: var(--VeryDarkBlue-LightText);
	--highlight: var(--White-DarkText-LightElements);
	background-color: var(--backgroundColour);}

header {
	background-color: var(--highlight);
	color: var(--textColour);	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px 16px;
	font-size: 8px;	
}

header a {
	text-decoration: none;
	color: var(--textColour);	

}

header button {
	background-color: var(--highlight);
	color: var(--textColour);
	padding: 6px 12px;
	display: flex;
	align-items: center;
	border: 2px solid  var(--highlight);
}

.moonIcon {
	height: 18px;
	margin-right: 8px;
}

.backIcon {
	height: 18px;
	margin-right: 8px;
}

.iconCenter {
	display: flex;
	justify-content: space-around;
}

.search {
	display: flex;
	margin: 32px 16px;
	padding: 16px;
	border-radius: 8px;
	background-color: var(--highlight);
	color: var(--textColour);
	justify-content: flex-start;
	align-items: center;
}
.search input {
	background-color: var(--highlight);
	color: var(--textColour);
	border: none;
	padding: 8px;
	flex-grow: 1;
}
.search input::placeholder {
	color: var(--textColour);
}

.searchIcon {
	height: 16px;
	margin-right: 32px;
}

.filter {
	display: flex;
	margin: 32px 16px;
	padding: 16px;
	border-radius: 8px;
	background-color: var(--highlight);
	color: var(--textColour);
	justify-content: flex-start;
	align-items: center;
	width: 150px;
}

.filter select {
	width: 100%;
	background-color: var(--highlight);
	color: var(--textColour);
	border: none;
}
.filter select * {
	padding: 16px;
	width: 100%;
	background-color: var(--highlight);
	color: var(--textColour);
	border: none;
}

.mainList {
	padding: 16px 32px ;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;

}

.country {
	background-color: var(--highlight);
	margin-bottom: 32px;
	border-radius: 8px;
	padding: 0;
	border: none;
	cursor: pointer;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.3);

	text-decoration: none;
}


.country img {
	width: 100%;
	background-size: cover;
}

.imageClip {
	height: 200px;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	border-radius: 8px 8px 0 0;
}
.country .data {
	padding: 32px 32px;
	color: var(--textColour);
}

.country .data .name {
	font-weight: 800;
	font-size: larger;
	letter-spacing: 1.4px;
	margin-bottom: 16px;
}

.country .data .figures {
	font-weight: 600;
	margin-bottom: 4px;
}

.figures span{
	font-weight: 300;
}

.details {
	font-weight: 600;
	color: var(--textColour);
	padding: 48px;
}

.details img {
	max-width: 480px;
	width: 100%;
	margin-bottom: 48px;
}

.details span {
	font-weight: 300;
	margin-left: 8px;
}

.details .title {
	font-weight: 800;
	font-size: larger;
	letter-spacing: 0.1em;
	margin-bottom: 32px;
}


.details .info {
	margin-bottom: 8px;
}


.gridData1, .gridData2, .gridData3 {
	margin-top: 32px;
}

.borders {
	color: var(--textColour);
}

.borders .list {
	display: flex;	
	flex-flow: row wrap;
	margin-top: 16px;
}


.button {
	background-color: var(--highlight);
	padding: 8px 32px;
	border: none;
	color: var(--textColour);
	font-weight: 300;
	font-size: small;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.3);
	width: 130px;	
	cursor: pointer;
}

.details .button {
	margin-bottom: 16px;
	margin-right: 16px;
}

@media only screen and (min-width: 400px) {
	.mainList {
		flex-flow: row wrap;
		
	}

	
	header button {
		background-color: var(--highlight);
		color: var(--textColour);
		padding: 6px 12px;
		display: flex;
		align-items: center;
		border: 2px solid  var(--highlight);
	}
	
	.country {
		width: 364px;
		margin-right: 32px;
	}

}
@media only screen and (min-width: 550px) {
	header {
		font-size: 16px;	
	}

	.searchFilt {
		display: flex;
		justify-content: space-between;
	}
}

@media only screen and (min-width: 900px) {
	.grid {
		display: -ms-grid;
		display:grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: 1fr 2fr 1fr;
	}
	.gridFlag {
		grid-row-start: 1;
		grid-row-end: 4;
	}
	.gridFlag img {
		padding-right: 64px;
		max-width: none;
	}

	.gridData1 {
		grid-column: 2/4; 
		font-size: x-large;
	}
	.gridData4 {
		grid-column: 2/4;
	}
}